.profile-page {
  padding: 30px;
  background-color: hsl(244, 100%, 20%);
  min-height: 100vh;
  color: white;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}

.profile-card {
  display: flex;
  gap: 30px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  color: #333;
  max-width: 850px;   /* controls the width */
  margin: auto;
}

.profile-left {
  width: 200px;
  text-align: center;
  margin-bottom: 12px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid hsl(244, 100%, 20%);
  object-fit: cover;
}

.upload-btn {
  margin-top: 15px;
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

.profile-right {
  flex: 1;
}

.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.field input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.profile-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.edit-btn,
.save-btn,
.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit-btn {
  background: #8e44ad;
  color: white;
}

.save-btn {
  background: #2ecc71;
  color: white;
}

.cancel-btn {
  background: #e74c3c;
  color: white;
}

.password-section {
  max-width: 600px; /* SAME WIDTH as profile card */
  margin: 20px auto;
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.password-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.password-btn {
  width: 100%;
  padding: 12px;
  background: #16a085;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.password-btn:hover {
  background: #1abc9c;
}

.change-password-btn {
  background: #2980b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.change-password-btn:hover {
  background: #3498db;
}

.password-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.password-cancel-btn {
  padding: 12px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
}

.password-cancel-btn:hover {
  background: #c0392b;
}

.password-btn {
  flex: 1;
}
